                    <dl id="detail_box__privacy">
                        <dt>{{ form_label(form.plg_privacy_check) }}</dt>
                        <dd>
                            <div class="form-inline form-group input_privacy">
                                {{ form_widget(form.plg_privacy_check) }}
                            </div>
                        </dd>
                    </dl>
